
<!-- 전체 영역 -->
<div class="def_padding_top">
  
    <!-- 하단 영역 -->
    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__logo"></div>
                <a href="#">Logo</a>
            <div class="footer__info">
                <p>© 2024-2024</p>
            </div>
        </div>
    </footer>
</div>   


<script src="/js/tui-grid/tui-grid.min.js"></script>
<script src="/js/chart/plotly-2.31.1.min.js"></script>
<link href="/css/tui-grid/tui-grid.min.css" rel="stylesheet" />


