<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<!-- 전체 영역 -->
<div class="def_padding_top">
  
    <!-- 상단 영역 -->
    <%- include('./includes/header', infos); %>

    <!-- 컨텐츠 영역 -->
    <main class="content">
        <!-- 배너 영역 -->
        <section class="banner">
            <!--<img src="http://placehold.it/1" alt="banner image" class="banner__img">-->
            <hr class="banner__img"/>
        </section>
        
        <!-- 컨텐츠 내용 전체 영역 -->
        <div class="content__container">

            <!-- 메인 컨텐츠 엘리먼트 -->
            <section class="content__main">
                <h2 class="content__main-title">Main Title</h2>
                <ul class="content__main-list">
                  <li class="content__main-item">
                    <h3>111</h3>
                    <p>ddd</p>
                  </li>
                  <li class="content__main-item">
                    <h3>222</h3>
                    <p>ccc</p>
                  </li>
                  <li class="content__main-item">
                    <h3>333</h3>
                    <p>bbbb</p>
                    </li>
                </ul>                
            </section>
            
            <!-- 사이드 컨텐츠 엘리먼트 -->
            <article class="content__side">
                <h2 class="content__side-title">side contents</h2>
                <p>aaaa</p>
            </article>            

        </div>

    </main>


  </div>    
<!-- 전체 영역 -->
<div class="def_padding_top">
  
    <!-- 하단 영역 -->
    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__logo"></div>
                <a href="#">LOGO</a>
            <div class="footer__info">
                <p>© 2024-2024</p>
            </div>
        </div>
    </footer>
  </div>   
  
<%- include('./includes/footer'); %>
<script src="/js/mainMenu.js"></script>
</body>
</html>