<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" />
    <style>
        INPUT {
            width:240px;
            height:30px;
            padding: 2px;
            border:dotted 2px cyan;
        }
        LABEL {
            display: inline-block;
            width: 180px;
            height: 30px;
            padding : 2px;
        }
        INPUT[type=button] {
            width: 420px;
        }
    </style>
</head>
<body>
<!-- 전체 영역 -->
<div class="def_padding_top">
  
    <!-- 상단 영역 -->
    <%- include('./includes/header', infos); %>

    <!-- 컨텐츠 영역 -->
    <main class="content">
    <!-- 컨텐츠 영역 -->
    <main class="content">
        <!-- 배너 영역 -->
        <section class="banner">
            <!--<img src="http://placehold.it/1" alt="banner image" class="banner__img">-->
            <hr class="banner__img"/>
        </section>
        
        <!-- 컨텐츠 내용 전체 영역 -->
        <div class="content__container">

            <!-- 메인 컨텐츠 엘리먼트 -->
            <section class="content__main">
                <h2 class="content__main-title">Request Login.</h2>

                <ul class="content__main-list">
                    <li class="content__main-item">
                      <h3><label>ID : </label><input type="text"/></h3>
                    </li>
                    <li class="content__main-item">
                      <h3><label>PASSWORD : </label><input type="password" /> </h3>
                    </li>
                    <li class="content__main-item">
                        <h3><input type="button" value="LogIN"/> </h3>
                    </li>
                </section>
        </div>
    </main>


  </div>    
  
  <%- include('./includes/footer'); %>  

<script src="/js/mainMenu.js"></script>
</body>
</html>